*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #eaeaea;
}
.Chat {
    width: 100%;
    max-width: 500px;
    margin: 55px auto;
    background: white;
    border-radius: 20px 20px 0 0;
}
.Chat-messages {
    height: 500px;
    max-height: 500px;
    overflow: auto;
    padding: 30px;
    overflow: hidden;
}
.Chat-messages > * + * {
    margin-top: 40px;
}
.Chat-message--user {
    text-align: right;
}
.Chat-message--user .Chat-bubble {
    background: #a5668b;
    color: white;
}
.Chat-message--user + .Chat-message--user {
    margin-top: 15px;
}
.Chat-message--bot + .Chat-message--bot {
    margin-top: 15px;
}
.Chat-message--dots {
    opacity: 0;
    margin-top: 15px;
    transition: opacity 1s ease;
}
.Chat-messages--typing .Chat-message--dots {
    opacity: 100;
    transition: opacity 0.35s ease;
    transition-delay: 3s;
}
.Chat-bubble {
    background: #f2d7ee;
    padding: 6px 10px;
    border-radius: 10px;
    color: #1a1a1a;
}
.Chat-dots, .Chat-dot2, .Chat-dot3 {
    width: 30px;
    height: 20px;
    fill: red;
}
.Chat-dots, .Chat-dot2, .Chat-dot3, .Chat-dot1 {
    fill: #1a1a1a;
    animation: Chat-dots 2s infinite;
}
.Chat-dot2 {
    animation-delay: 0.3s;
}
.Chat-dot3 {
    animation-delay: 0.6s;
}
.Chat-input {
    position: absolute;
    display: flex;
    width: 500px;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #ddd;
    background: white;
    border-radius: 0 0 20px 20px;
}
.Chat-icon {
    width: 24px;
    height: 24px;
    fill: #888;
    cursor: pointer;
}
.Chat-icon--smiley {
    fill: #9e9e9e;
}
.Chat-icon + .Chat-icon {
    margin-left: 30px;
}
.Chat-submitBtn {
    display: none;
}
.Chat-inputField {
    font-size: 18px;
    flex: 1;
    border: none;
}
.Chat-inputField:focus {
    outline: none;
}
@keyframes Chat-dots {
    0% {
        opacity: 0;
        transform: translate(0, 1px);
   }
    50% {
        opacity: 1;
        transform: translate(0, -1px);
   }
    100% {
        opacity: 0;
        transform: translate(0, 1px);
   }
}