
.login {
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: royalblue;
    border-radius: 10px;
    border: blue 5px solid;
    tex
}
.name {
    border-radius: 10px;
    border: blue 3px solid;
}
.password {
    border-radius: 10px;
    border: blue 3px solid;
}
.submit {
    margin:auto;
    border-radius: 10px;
    border: blue 3px solid;
    width: 100%;
}
