$bg: #030b15;
$bg-btn: #040e18;
$boder-color: #ffffff1a;

$white: #ffffff;
$blue: #00c4f4;
$gray: #a4b4c3;
$pink: #ff4581;
$violet: #564dca;
$red: #ff1d45;
$orange: #ff9700;
$green: #5dd400;

@keyframes LeftToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes UpToDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(65px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInHeader {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-45px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.show__effect {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
  visibility: visible !important;
  transition: all 0.4s linear;
}
